<div class='output'>
    <p><span>Repo Name: </span>{{name}}</p>
    <img src='{{owner.avatar_url}}' alt='{{name}}'/>
    <p><span>Number of Stars: </span>{{stargazers_count}}</p>
    <p><span>Description: </span>{{description}}</p>
    <a href='{{html_url}}' target='_blank'>{{html_url}}</a>
</div>